@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
p {
    margin: 0px;
    padding: 0px;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
	color: #fff;
}
li{
    list-style: none;
}
.section-padding {
	padding: 110px 0;
}
.diffule-btn {
	font-size: 18px;
	font-weight: 700;
	background: #DB441E;
	color: #fff;
	padding: 14px 29px;
	border-radius: 50px;
	letter-spacing: .7px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 2;
	margin: auto;
}
.diffule-btn::before {
	content: '';
	width: 15px;
	height: 15px;
	display: block;
	background-color: #F8A32E;
	position: absolute;
	right: 2px;
	top: 38px;
	transition: .4s;
	border-radius: 0px 0px 22px 0;
}
.diffule-btn:hover::before {
	width: 100%;
	height: 100%;
	color: #fff ;
	z-index: -1;
	top: 0;
	right: 0;
}

.diffule-btn-2 {
	font-size: 18px;
	font-weight: 700;
	background: #F8A32E;
	color: #fff;
	padding: 9px 17px;
	border-radius: 50px;
	letter-spacing: .7px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 2;
}
.diffule-btn-2::before {
	content: '';
	width: 15px;
	height: 15px;
	display: block;
	background-color: #DB441E;
	position: absolute;
	right: 2px;
	top: 28px;
	transition: .4s;
	border-radius: 0px 0px 22px 0;
}
.diffule-btn-2:hover::before {
	width: 100%;
	height: 100%;
	color: #fff ;
	z-index: -1;
	top: 0;
	right: 0;
}
.section-title {
	text-align: center;
	margin-bottom: 55px;
}
.section-title h2 {
	font-weight: 500;
	font-size: 45px;
	margin-bottom: 15px;
    color: #F8A32E;
}
.section-title p {
	font-size: 16px;
}

.section-title-2 {
	text-align: left;
	margin-bottom: 71px;
}
.section-title-2 h2 {
	font-weight: 500;
	font-size: 45px;
	margin-bottom: 15px;
    color: #F8A32E;
}
.section-title-2 p {
	font-size: 16px;
}
.section-title-3 {
	text-align: center;
	margin-bottom: 39px;
}
.section-title-3 h2{
	font-weight: 700;
	color: #fff;
	font-size: 45px;
}

/* loading */

#loading{
	background-color: #db9e36;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 99999999999;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;	
	-ms-transform: rotate(45deg); 
   	-webkit-transform: rotate(45deg);
    transform: rotate(45deg); 

}
.object{
	width: 20px;
	height: 20px;
	background-color:#FFF;
	position: absolute;
	left: 65px;
	top: 65px;
	}
.object:nth-child(2n+0) {
	margin-right: 0px;

}


#object_one {
	-webkit-animation: object_one 2s infinite;
	animation: object_one 2s infinite;
	-webkit-animation-delay: 0.2s; 
    animation-delay: 0.2s; 
	}
#object_two {
	-webkit-animation: object_two 2s infinite;
	animation: object_two 2s infinite;
	-webkit-animation-delay: 0.3s; 
    animation-delay: 0.3s; 
	}
#object_three {
	-webkit-animation: object_three 2s infinite;
	animation: object_three 2s infinite;
	-webkit-animation-delay: 0.4s; 
    animation-delay: 0.4s; 
	}
#object_four {
	-webkit-animation: object_four 2s infinite;
	animation: object_four 2s infinite;
	-webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s; 
}
#object_five {
	-webkit-animation: object_five 2s infinite;
	animation: object_five 2s infinite;
	-webkit-animation-delay: 0.6s; 
    animation-delay: 0.6s; 
}
#object_six {
	-webkit-animation: object_six 2s infinite;
	animation: object_six 2s infinite;
	-webkit-animation-delay: 0.7s; 
    animation-delay: 0.7s; 
}
#object_seven {
	-webkit-animation: object_seven 2s infinite;
	animation: object_seven 2s infinite;
	-webkit-animation-delay: 0.8s; 
    animation-delay: 0.8s; 
}
#object_eight {
	-webkit-animation: object_eight 2s infinite;
	animation: object_eight 2s infinite;
	 -webkit-animation-delay: 0.9s; 
    animation-delay: 0.9s; 
}

#object_big{
	
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50px;
	top: 50px;
	-webkit-animation: object_big 2s infinite;
	animation: object_big 2s infinite;
		 -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s; 
}	

@-webkit-keyframes object_big {
	50% { -webkit-transform: scale(0.5); }
   
   }
   
   @keyframes object_big {
	50% { 
	   transform: scale(0.5);
	   -webkit-transform: scale(0.5);
	 } 
   
   }
   
   
   
   
   @-webkit-keyframes object_one {
	50% { -webkit-transform: translate(-65px,-65px)  ; }
   
   }
   
   @keyframes object_one {
	50% { 
	   transform: translate(-65px,-65px) ;
	   -webkit-transform: translate(-65px,-65px) ;
	 } 
   
   }
   
   
   
   @-webkit-keyframes object_two {
	 50% { -webkit-transform: translate(0,-65px) ; }
   }
   
   @keyframes object_two {
	50% { 
	   transform: translate(0,-65px) ; 
	   -webkit-transform: translate(0,-65px) ; 
	 } 
   
   }
   
   
   
   @-webkit-keyframes object_three {
	50% { -webkit-transform: translate(65px,-65px) ; }
   }
   
   @keyframes object_three {
	50% { 
	   transform: translate(65px,-65px) ;
	   -webkit-transform: translate(65px,-65px) ;
	 } 
   }
   
   
   
   @-webkit-keyframes object_four {
	 
	 50% { -webkit-transform: translate(65px,0) ; }
   
   }
   
   @keyframes object_four {
	 50% { 
	   transform: translate(65px,0) ;
	   -webkit-transform: translate(65px,0) ;
	 } 
   
   }
   
   
   
   
   @-webkit-keyframes object_five {
	 
	 50% { -webkit-transform: translate(65px,65px) ; }
   
   }
   
   @keyframes object_five {
	 50% { 
	   transform: translate(65px,65px) ;
	   -webkit-transform: translate(65px,65px) ;
	 } 
   
   }
   
   
   
   @-webkit-keyframes object_six {
	 
	 50% { -webkit-transform: translate(0,65px) ; }
   
   }
   
   @keyframes object_six {
	 50% { 
	   transform:  translate(0,65px) ;
	   -webkit-transform:  translate(0,65px) ;
	 } 
   
   }
   
   
   
   
   @-webkit-keyframes object_seven {
	 
	 50% { -webkit-transform: translate(-65px,65px) ; }
   
   }
   
   @keyframes object_seven {
	 50% { 
	   transform: translate(-65px,65px) ;
	   -webkit-transform: translate(-65px,65px) ;
	 } 
   
   }
   
   
   @-webkit-keyframes object_eight {
	 
	 50% { -webkit-transform: translate(-65px,0) ; }
   
   }
   
   @keyframes object_eight {
	 50% { 
	   transform: translate(-65px,0) ;
	   -webkit-transform: translate(-65px,0) ;
	 } 
   
   }

/* header  */

.sticky {
	position: fixed !important;
	left: 0;
	top: -0;
	margin: auto;
	width: 100%;
	animation: smooth_sticky 1.3s;
	z-index: 11;
	background: #fff;
	box-shadow: 0px 0px 10px 0px rgba(11, 0, 59, 0.15);
}
 /*==== Animation Sticky ==== */

 @-webkit-keyframes smooth_sticky {
	0% {
			top: -280px;
	}
	100% {
			top: 0px;
	}
}
@keyframes smooth_sticky {
	0% {
			top: -280px;
	}
	100% {
			top: 0px;
	}
}

.logo a img {
	height: 90px;
}
.menu ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
}
.menu ul li a {
	font-weight: 600;
	font-size: 18px;
	color: #F8A32E;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	padding: 15px 13px;
	transition: all .4s ease-in-out;
}
.menu ul li a:hover {
	border-top: 2px solid #7FAE0F;
	border-bottom: 2px solid #DB441E;
	padding: 3px 13px;
}
.main-menu {
	background: #fff;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	z-index: 999999;
}
.notified-con {
	font-size: 21px;
    color: #7FAE0F;
    cursor: pointer;
}
.notified-con::before {
	content: '02';
	background-color: red;
	color: #fff;
	font-size: 10px;
	font-weight: 700;
	padding: 1px 3px;
	border-radius: 50%;
	position: absolute;
	right: 9px;
	top: 7px;
}

/* hero */

.hero-area{
    background: url(../images/home/banner.webp);
    background-size: cover;
    height: 750px;
    position: relative;
}
.hero-area::before {
	width: 100%;
	height: 100%;
	content: '';
	background-color: #000;
	z-index: 999;
	opacity: .5;
	position: absolute;
	display: inherit;
}
.hero-content {
	z-index: 999;
	position: relative;
	text-align: center;
	display: block;
	padding-top: 180px;
}
.hero-content span {
	color: #F8A32E;
	font-weight: 600;
	display: block;
	margin-bottom: 17px;
	font-size: 20px;
}
.hero-content h1 {
	color: #fff;
	font-weight: 700;
	font-size: 74px;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 25px;
}
.hero-content p {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 40px;
}

/* About Area */

.about-area {
	background: #f0f0f0;
}
.about-img img {
	width: 652px;
	border-top: 5px solid transparent;
	outline: 6px solid #F8A32E;
	border-right: 5px solid transparent;
}
.about-img .img-desing {
	background: #DB441E;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 3px solid #F7F7F7;
}
.about-img .img-desing p {
	text-align: center;
	color: #fff;
	font-weight: 700;
	margin-top: 26px;
}
.about-list {
	text-align: center;
}
.about-list ul {
	text-align: left;
	margin-left: 106px;
	margin-bottom: 36px;
}
.about-list h5 {
	font-size: 35px;
	font-weight: 600;
	color: #DB441E;
	margin-bottom: 16px;
	text-decoration: underline;
	text-decoration: none;
}
.about-list ul li {
	margin-bottom: 14px;
	font-size: 18px;
	font-weight: 600;
}
.about-list ul li span {
	color: #DB441E;
	font-size: 21px;
	font-weight: 700;
}

/* restaurent */

.single-restaurent .img-1 {
	background: url(../images/resturent/1.jpg);
	width: 359px;
	height: 353px;
	background-size: cover;
	margin-bottom: 28px;
    transition: .5s;
}
.single-restaurent .img-2 {
    background: url(../images/resturent/2.jpg);
	width: 359px;
	height: 353px;
    background-size: cover;
}
.single-restaurent .img-3 {
    background: url(../images/resturent/3.jpg);
	width: 359px;
	height: 353px;
    background-size: cover;
}
.single-restaurent .img-4 {
	background: url(../images/resturent/4.jpg);
	width: 359px;
	height: 353px;
	background-size: cover;
	margin-bottom: 43px;
}
.single-restaurent .img-5 {
    background: url(../images/resturent/5.jpg);
	width: 359px;
	height: 353px;
    background-size: cover;
}
.single-restaurent .img-6 {
    background: url(../images/resturent/6.jpg);
	width: 359px;
	height: 353px;
    background-size: cover;
}



.single-restaurent .img-1::before{
    content: '';
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    position: relative;
    transition: all .5s ease-in-out;
    background: #000;
    display: block;
}  
.single-restaurent .img-2::before{
    content: '';
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    position: relative;
    transition: all .5s ease-in-out;
    background: #000;
    display: block;
}  
.single-restaurent .img-3::before{
    content: '';
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    position: relative;
    transition: all .5s ease-in-out;
    background: #000;
    display: block;
}  
.single-restaurent .img-4::before{
    content: '';
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    position: relative;
    background: #000;
    transition: all .5s ease-in-out;
    display: block;
}  
.single-restaurent .img-5::before{
    content: '';
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    position: relative;
    transition: all .5s ease-in-out;
    background: #000;
    display: block;
}  
.single-restaurent .img-5::before{
    content: '';
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    position: relative;
    transition: all .5s ease-in-out;
    background: #000;
    display: block;
} 

.single-restaurent .img-6::before{
    content: '';
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    position: relative;
    transition: all .5s ease-in-out;
    background: #000;
    display: block;
}




.single-restaurent:hover .img-1::before{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    visibility: visible;
    
}  
.single-restaurent:hover .img-2::before{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    visibility: visible;
}  
.single-restaurent:hover .img-3::before{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    visibility: visible;
}  
.single-restaurent:hover .img-4::before{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    visibility: visible;
}  
.single-restaurent:hover .img-5::before{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    visibility: visible;
}  
.single-restaurent:hover .img-5::before{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    visibility: visible;
} 

.single-restaurent:hover .img-6::before{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    visibility: visible;
} 
.single-restaurent{
    overflow: hidden;
    z-index: 99999;
    position: relative;
} 
.single-restaurent:hover .img-contnt {
	visibility: visible;
	top: 111px;
}
.img-contnt {
	position: absolute;
	top: -231px;
	text-align: center;
	visibility: hidden;
	color: #fff;
	z-index: 99;
	transition: .5s;
	display: table;
}
.img-contnt h5 {
	font-weight: 700;
	font-size: 22px;
}
.img-contnt p {
	font-size: 14px;
	margin-bottom: 28px;
}

/* food */

.food-img img {
	width: 261px;
	margin-bottom: 38px;
	height: 165px;
	transition: .4s;
	outline: 5px solid transparent;
	border: 5px solid transparent;
}
.food-img img:hover {
	outline: 5px solid #DB441E;
}

.our-food {
	background: #F0F0F0;
}
.food-detail h4 {
	color: #DB441E;
	font-weight: 600;
}
.food-detail p span {
	font-size: 17px;
    color: #000;
    font-weight: 500;
}
.food-detail p {
	font-weight: 600;
	font-size: 18px;
    color: #DB441E;
}

/* food take steps */

.order-area {
	overflow: hidden;
}
.single-step {
	margin-bottom: 44px;
	border: 2px solid #F8A32E;
	padding: 17px 27px;
	height: 261px;
	position: relative;
	transition: all .5s ease-in-out;
}
.single-step:hover{
    border: 2px solid #7FAE0F;
}
.single-step::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    display: block;
    background: #7FAE0F; 
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
.single-step:hover::before{
    width: 50%;
    visibility: visible;
}
 .single-step::after{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    display: block;
    background: #7FAE0F; 
    top: 0;
    right: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .4s ease-in-out;
} 
.single-step:hover::after{
    width: 50%;
    visibility: visible;
}
.i-step {
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 50%;
	margin-bottom: 11px;
	position: relative;
}
.single-step i {
	font-size: 25px;
	margin-bottom: 16px;
	color: #DB441E;
	transition: .8s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.single-step h4 {
	font-weight: 600;
	font-size: 33px;
    color: #DB441E;
    transition: .8s;
}
.single-step h4 span {
	color: #F8A32E;
    transition: .8s;
}
.single-step p {
    transition: .8s;
}
.single-step:hover h4{
    color: #fff;
}
.single-step:hover h4 span{
    color: #fff;
}
.single-step:hover p{
    color: #fff;
}

/* challenge */

.single-cha .cha-img img {
	width: 350px;
	height: 284px;
	border-bottom: none;
	transition: .5s;
}
.challenge-area {
    background: #F0F0F0;
	overflow: hidden;
}
.single-cha {
	border: 5px solid transparent;
	outline: 2px solid #DB441E;
	transition: all .3s ease-in-out;
}
.single-cha:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.cha-content {
	text-align: center;
	background: #fff;
	padding: 26px 7px;
	border-top: none;
	border: 2px solid #F8A32E;
	border-top: 0;
}
.cha-content > h3 {
	font-weight: 600;
	font-size: 33px;
    color: #DB441E;
}
.cha-content h4 {
	color: #7FAE0F;
	font-size: 22px;
	font-weight: 600;
}
.cha-content h5 {
	color: #7FAE0F;
	font-size: 22px;
	font-weight: 600;
}
.cha-content h6 {
	color: #7FAE0F;
	font-size: 22px;
	font-weight: 600;
}
.cha-content span {
	font-size: 20px;
	color: #F8A32E;
	margin-bottom: 5px;
	display: inline-block;
    font-weight: 400;
}
.cha-activator {
    color: #7FAE0F;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 600;
}

/* testimonial */

.single-testimonial {
	background: #e6e6e6;
	padding: 12px 20px;
	margin-right: 13px;
	border-radius: 12px;
}
.user-name-img {
	display: flex;
	align-items: center;
	margin-bottom: 18px;
}

.user-name-img img {
	width: 40px !important;
	border-radius: 50%;
	height: 40px;
}
.user-name-img p {
	margin-left: 14px;
	font-size: 20px;
	font-weight: 600;
    color: #DB441E;
}
.five-star {
	margin-bottom: 6px;
	font-size: 17px;
    color: #F8A32E;
}

/* subscribe area */
.subscribe-area {
	background: url(../images/contract/bg.jpg);
	background-size: cover;
}
.subscribe-area::before{
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	background-color: #000;
	opacity: .5;
	z-index: 2;
	position: relative;
}
.single-subs {
	text-align: center;
	background: #fff;
	display: table;
	margin: auto;
	padding: 36px 42px 13px 42px;
	border: 2px solid black;
	outline: 3px solid #fff;
}
.rating {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 18px;
}
.single-subs .rating h3 {
	margin-bottom: 13px;
	font-size: 24px;
}
.single-subs .rating .reting-icon{
	margin-left: 7px;
}
.single-subs .rating .reting-icon i {
	font-size: 15px;
	transition: .4s;
	margin-bottom: 13px;
}
.single-subs .rating .reting-icon i:hover{
	color: #F8A32E;
	cursor: pointer;
}
.sub-input input {
	display: block;
	margin: auto;
	margin-bottom: 9px;
}
.sub-input .sub-email {
	padding: 4px 12px;
	margin-bottom: 22px;
}
.sub-input .subs-submit {
	padding: 9px 12px;
	font-size: 13px;
	font-weight: 600;
	background: transparent;
	color: #F8A32E;
	border: 1px solid #F8A32E;
	transition: .5s;
}
.sub-input .subs-submit:hover {
	background:  #DB441E;
	color: #fff;
	border: 1px solid #DB441E;
	cursor: pointer;
}